body{
  background-color: rgb(80,216,255);
}

  h1{
    margin: auto;
    background-color: rgba(202, 255, 0, 0.5);
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-family: fantasy;
  }

    p.one{
      background-color: rgba(202, 255, 0, 0.5);
      border-width: 20px;
      border-color: rgba(0, 0, 255, 0.5);
      border-style: double;
      border-radius: 10px;
      padding:50px;
      margin: auto;
      margin-top: 30px;
      height: 100px;
      width: 200px;
      text-align: center;
      font-weight: bold;
      font-size: 120%;
      font-family: fantasy;
      letter-spacing: 1.1px;
      word-spacing: 1px;
      overflow: scroll;
    }
